.spacer {
  border: 1px solid white;
  padding: 50px;
}

.container-search {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  max-width: 1250px;
  margin: 5px auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1250px;
  margin: 5px auto;
}

.container h2 {
  font-size: 2em;
  text-align: center;
  margin-top: 10px;
}

.rides-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff735c;
  margin: 30px;
  border-radius: 15px;
}

.rides-form label span {
  display: block;
  margin-bottom: 1px;
  font-size: 1.25em;
  text-align: left;
}

.rides-form input {
  font-size: 1.25em;
  max-width: 100%;
  height: 2.5em;
  background-color: white;
  border: none;
  border-radius: 0.3em;
  padding: 8px;
  margin-bottom: 0.4em;
  text-align: left;
}

.rides-form input:focus {
  border: 0.2em solid grey;
  border-radius: 0.3em;
}

.rides-form button {
  background-color: white;
  border: 0.1em solid black;
  cursor: pointer;
  font-size: 1.375em;
  text-align: center;
  border-radius: 5em;
  width: 10em;
  height: 3em;
  margin-top: 0.3em;
}

.rides-list {
  min-height: 200px;
  z-index: 0;
  margin: 30px;
}

.rides-list li {
  margin: 30px 30px;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  border-radius: 15px;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  text-align: left;
  position: relative;
  overflow: hidden;
  border-left: 6px solid #ff735c;
  z-index: 0;
}

.rides-list .location {
  font-size: 1.4em;
  text-align: left;
}

.rides-list .destination {
  font-size: 1.4em;
  text-align: left;
}

.rides-list .arrow {
  font-size: 1.4em;
  text-align: center;
}

.rides-list .seats {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 5px;
  background: #ffdcd7;
  border: none;
  padding: 16px 10px;
  text-align: center;
  line-height: 0;
  font-size: 1em;
}

.rides-list .contact {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 5px;
  background: #ffdcd7;
  border: none;
  padding: 16px 10px;
  text-align: center;
  line-height: 0;
  cursor: pointer;
}

.rides-list .date {
  margin-left: auto;
  padding: 1px 2px;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
  position: absolute;
  top: 0;
  right: 0;
  color: #ff735c;
}

.rides-list button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ffdcd7;
  border: none;
  padding: 16px 10px;
  text-align: center;
  line-height: 0;
  font-size: 1em;
  cursor: pointer;
}

.rides-list button:hover {
  background: #ff735c;
}

/* screen for tablets */
@media screen and (max-width: 1033px) {
  .container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }

  .container h2 {
    font-size: 1.7em;
  }

  .rides-form {
    width: 50%;
    margin: auto;
    padding: 10px;
  }

  .rides-form button {
    font-size: 1.125em;
    width: 9em;
  }

  .rides-form label {
    margin-bottom: 0.375em;
  }

  .rides-form label span {
    margin-bottom: 0.0625em;
    margin-left: 0;
    font-size: 1.125em;
  }

  .rides-form input {
    font-size: 1.125em;
    height: 2.5em;
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  .rides-list {
    min-height: 200px;
    z-index: 0;
    margin: 30px;
  }

  .rides-list li {
    text-align: left;
    position: relative;
    overflow: hidden;
    border-left: 5px solid #ff735c;
    z-index: 0;
  }

  .rides-list .location {
    font-size: 1.2em;
  }

  .rides-list .destination {
    font-size: 1.2em;
  }

  .rides-list .arrow {
    font-size: 1.2em;
  }

  .rides-list .seats {
    font-size: 0.9em;
    padding: 14px 8px;
  }

  .rides-list .contact {
    font-size: 0.9em;
    padding: 14px 8px;

  }

  .rides-list .date {
    font-size: 0.9em;
  }

  .rides-list button {
    padding: 12px 8px;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.8em;
  }

  .rides-form button {
    font-size: 0.8em;
  }

  .rides-form label span {
    margin-left: 0;
    font-size: 0.8em;
  }

  .rides-form input {
    font-size: 0.8em;
    height: 2em;
    padding: 0.5em;
  }

  .container h2 {
    font-size: 1.5em;
  }

  .rides-form {
    width: 50%;
    margin: auto;
    padding: 10px;
  }

  .rides-form button {
    font-size: 1em;
    width: 8em;
  }

  .rides-form label {
    margin-bottom: 0.375em;
  }

  .rides-form input {
    font-size: 1em;
    height: 2.3em;
    
  }
  .rides-list {
    min-height: 150px;
  }

  .rides-list .location {
    font-size: 1em;
  }

  .rides-list .destination {
    font-size: 1em;
  }

  .rides-list .arrow {
    font-size: 1em;
  }

  .rides-list .seats {
    font-size: 0.8em;
  }

  .rides-list .contact {
    font-size: 0.8em;
  }

  .rides-list .date {
    font-size: 0.8em;
  }

  .rides-list button {
    font-size: 0.8em;
  }
}



@media screen and (max-width: 405px) {
  h2 {
    font-size: 1.5em;
  }

  .rides-form {
    margin-top: 0;
  }
}

@media screen and (max-width: 290px) {
  h2 {
    font-size: 1.2em;
  }
}
